
* {
    box-sizing: border-box;
}



body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;

}

aside {
      padding: 10px 20px;
      width: 250px;
      border-right: 1px solid #111;
}

button {
    background-color: coral;
    border : solid 1px #111;
    color: cornsilk;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;

}

main {
    flex : 1;
    padding: 10px 20px;
}

h1{
    color: tomato;
    
}

h2{
    color: darkslategray;
    border-bottom: 2px solid #111;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    font-weight: 400;
    margin : 0 0 20px;

}

h3{
    color: darkslategray;
    border-bottom: 2px solid #111;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    font-weight: 400;
    margin : 0 0 20px;

}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}